data.table 
dtplyr
dbplyr
multidplyr
odbc
devtools
slam
spam
future
furrr
openxlsx
arrow
duckdb
languageserver
duckplyr
tidymodels
baguette
brulee
bonsai
DALEX
DALEXtra
vip
applicable
vetiver
speedglm
biglm 
car
plm
pglm
gmm
mlogit
np
Matching
MatchIt
WeightIt
optmatch
survminer
pdp
irlba
gfoRmula
policytree
ivtools
ivprobit
cmprsk
survey
did
gamlss
lfe
actuar
ahaz
gamlss
gamlss.dist
ivtools
ingredients
modeltime
modeltime.resample
tsibble
fable
feasts
tsibbledata
surveillance
forecast
seasonal 
statespacer
KFAS 
vars
BMisc
chron
ICD10gm
rdwd
owmr
kehra
GSODR
caTools
rpart
rpart.plot
tree
ISLR
doParallel
glmnet 
ncvreg
lightgbm
xgboost
SHAPforxgboost
randomForestSRC
ggRandomForests
ranger
grf
kernlab
earth
DALEX
DALEXtra
iBreakDown
Proc
ROCit
mlflow
sf
tmap
tmaptools
ggrepel
shiny
quarto
tinytex
butcher
xfun
kableExtra
skimr
quanteda
glmmtmb
mlr3